@import 'colors.less';
@import 'mixins.less';
@imgUrl: '../img/';

header {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 286px;
	color: #FFF;
	font-size: 16px;
	font-family: "Letter Gothic STD", "letter-gothic-std", "helvetica-nue", helvetica, arial, sans-serif;
	text-align: center;
	overflow: auto;
	background: #131615 url('@{imgUrl}chalkboard.png');
}

.navigation {
	padding: 16px;
	background: #131615 url('@{imgUrl}chalkboard.png');
}

.main-nav {
	position: relative;

	.logo {
		position: relative;
		display: block;
		height: 64px;
		padding: 12px;
		.transition(all .3s);

		&:before {
			content:'';
			position: absolute;
			top: 12px;
			right: 12px;
			bottom: 12px;
			left: 12px;
			background: transparent url('@{imgUrl}beachesLogo.png') top left no-repeat;
			.background-size(100%, 100%);
		}
	}

	.menu-button {
		display: none;
	}

	.nav {
		margin: 16px 0;
		padding: 8px;
		border: 2px solid rgba(255, 255, 255, .5);
		border-left: none;
		border-right: none;

		.nav-item {
			margin: 0;
			padding: 8px 12px;
			height: 16px;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;

			&.active {
				background: #FFF url('@{imgUrl}chalkboard.png');
				color: #131615;
			}
		}
	}
}

.nav-item {
	display: inline-block;
	height: 20px;
	margin: -1px;
	padding: 4px 8px;
	line-height: 24px;
	color: #F0F0F0;
	font-size: 12px;
	cursor: pointer;
	text-transform: lowercase;
	text-decoration: none;
	border: 1px solid transparent;

	&:hover {
		color: #FFF;
		text-decoration: underline;
	}

	&.active {
		color: #FFF;
		border-color: #FFF;

		&:hover {
			text-decoration: none;
		}
	}
}

.social-links {
	margin: 16px auto;
  	// width: 160px;
}

.social-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 8px;
	margin: 4px;
	cursor: pointer;
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	border: 1px solid transparent;
	opacity: .75;

	&:hover {
		opacity: .95;
		border-color: #FFF;
		//color: @lightblack;
	}
}

.nav-label {
	display: block;
	margin: 36px auto 12px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;

	&:after,
	&:before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 0;
		margin: 3px 8px;
		border-top: 4px double #FFF;
		border-top-color: rgba(255, 255, 255, 0.5);


	}
}

@media all and (-webkit-min-device-pixel-ratio: 2)
{
	header {
		.logo:before {
			background-image: url('@{imgUrl}beachesLogo@2x.png');
		}
	}
}

/* smaller browser, let's shrink the header */
@media screen and (max-width: 854px)
{
	header {
		height: 64px;

		.logo {
			height: 64px;
			width: 237px;
		}

		.nav-item {
			margin: 0;
		}

		.main-nav {
			top: 22px;
			right: 106px;
		}

		.restaurant-nav {
			top: 59px;
			right: 106px;

			.nav-item {
				height: 21px;
				font-size: 20px;
				line-height: 26px;
			}
		}

		.social-nav {
			top: 22px;
			width: 72px;
		}
	}
}

/* too small for a normal header, so show hamberger style */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), (max-width: 690px)
{
	body {
		margin-top: 76px;
	}
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 44px;
		padding: 16px;

		.logo {
			height: 42px;
			width: 154px;
		}

		.menu-button {
			position: absolute;
			top: 16px;
			right: 16px;
			display: block;
			float: right;
			width: 18px;
			height: 18px;
			padding: 11px;
			font-size: 18px;
			color: #FFF;
			cursor: pointer;
			border: 1px solid #FFF;
			opacity: .85;

			span {
				opacity: 1;
				.transition(opacity 0.3s);
			}

			.icon-close {
				position: absolute;
				top: 11px;
				right: 11px;
				opacity: 0;
			}

			&:hover {
				opacity: .95;
			}
		}

		.overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #000;
			opacity: 0;
			visibility: hidden;

			.transition(opacity .3s, visibility 0s 0.3s);
		}

		.nav {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			width: 0;
			background: @lightblack;
			overflow: hidden;
			.box-shadow(0 0 0 0px rgba(0, 0, 0, 0.3));

			.transition(all .3s);
		}

		&.showMenu {

			.menu-button {
				.icon-menu {
					opacity: 0;
				}
				.icon-close {
					opacity: 1;
				}
			}

			.nav {
				width: 240px;
				.box-shadow(8px 0 0 0px rgba(0, 0, 0, 0.3));
			}

			.overlay {
				visibility: visible;
				opacity: .5;

				.transition(opacity .3s, visibility 0s 0s);
			}
		}
	}
}